# Other
log
tmp
db

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/database.yml

## Environment normalization:
/.bundle
/vendor/bundle
